body {
    margin: 0px;
}

#welcome {
    color: blue;
}

#our_team {
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

#team-container {
    width: 56%;
    text-align: center;
}

#team-title {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 20px;
}

#team-subtitle {
    color: #777777;
    font-size: 16px;
    font-style: italic;
}

#team-members {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.member-item {
    width: calc(33.33% - 16px);
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
}

.member-item .member-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
}

.member-item .member-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.member-item .member-data {
    width: 100%;
}

.member-item .member-data .name {
    margin: 0px;
    margin-bottom: 4px;
    color: #000000;
    font-weight: 700;
}

.member-item .member-data .job {
    margin: 0px;
    color: #777777;
    font-size: 0.8em;
}

.member-item .member-socials {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.member-item .member-socials .social-item {
    width: 30px;
    height: 30px;
    margin: 0px 8px;
    border: 2px solid #000000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.member-item .member-socials .social-item:hover {
    cursor: pointer;
}

.member-item .member-socials .social-item:hover a {
    color: #ffffff;
}

.member-item .member-socials .social-item:hover:nth-of-type(1) {
    background-color: #1da1f2;
    border: 2px solid #1da1f2;
}

.member-item .member-socials .social-item:hover:nth-of-type(2) {
    background-color: #3B5998;
    border: 2px solid #3B5998;
}

.member-item .member-socials .social-item:hover:nth-of-type(3) {
    background-color: #C92228;
    border: 2px solid #C92228;
}

.member-item .member-socials .social-item:hover:nth-of-type(4) {
    background-color: #d34836;
    border: 2px solid #d34836;
}


.member-item .member-socials .social-item a {
    text-decoration: none;
    color: #000000;
    outline: 0;
}

#team-description {
    width: 76%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 120px;
    font-size: 0.9em;
    font-weight: 500;
    color: #777777;
    text-align: center;
}

@media (max-width: 1200px) {
	#team-members {
		flex-wrap: wrap;
		width: 100%;
	}
	
	.member-item {
        width: calc(50% - 16px);
        margin: 24px auto;
	}
}

@media (max-width: 840px) {
	.member-item {
        width: 100%;
        margin: 24px auto;
	}
}

@media (max-width: 400px) {
	.member-item .member-image {
        width: calc(100% - 22px);
        height: calc(100% - 22px);
    }
}